.house {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    max-width: 50%;
}
  
.house-image {
    width: 200px;
    height: auto;
    margin-left: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}
  
.house-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
  
.house-description {
    font-style: italic;
}
  
.house-right {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    transition: transform 0.3s ease-in-out;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    margin-left: auto;
    max-width: 50%;
}
  
.house-image-right {
    margin-right: 20px; 
    width: 200px; 
    height: auto;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

@media (max-width: 800px) {
    .house {
      display: block;
      margin: 0 auto;
      max-width: none;
      text-align: center;
    }
    
    .house-right {
      display: block;
      margin: 0 auto;
      max-width: none;
      text-align: center;
    }

    footer p{
        font-size: 12px;
    }
    
    footer a{
        font-size: 12px;
    }
}
  